---
import Layout from '../layouts/Layout.astro';
import About from '../components/Acerca.astro';
import Form from '../components/Form.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<About/>
	</main>
</Layout>

<style>


</style>
