---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Form from '../components/Form.astro';
---

<Layout title="Welcome">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<Form/>
	</main>
</Layout>

<style>
	
</style>
