---
import Card from './Card.astro'

---

<div class="container">


    <div class="row">
        <div class="col-12">
            <h1>Quienes Somos</h1>

        </div>
    </div>
 
    <div class="row">
     <div class="col-3">
        <Card 
        href="https://img.freepik.com/foto-gratis/retrato-joven-sonriente-gafas_171337-4842.jpg" 
        title="Ing. RAUL ISAI"
        body="lorem ipsum"
        />
          <div class="col-3"></div>
          <div class="col-3"></div>
     </div>



    </div>


    <p>Nuestro equipo está compuesto por instructores altamente capacitados y con amplia experiencia en la industria. Nos enorgullece ofrecer un enfoque personalizado en cada una de nuestras clases, adaptándonos a tus necesidades y nivel de conocimiento. Tanto si eres principiante como si ya tienes experiencia previa, tenemos programas diseñados para desafiarte y llevarte al siguiente nivel.</p>




</div>