<div class="row">


    <div class="col-5 align-self-start">
        <div class="row">
            <h1>Aprende a <span class="text-gradient">Crear</span>, <span class="text-gradient">Innovar </span>y <span class="text-gradient">Transformar</span></h1>
        </div>
    </div>

    <div class="col-7">
        <img src="../../public/img/planeta2.png" class="img-fluid" alt="...">
    </div>

</div>



<style>
h1 {
	font-size: 3rem;
	font-weight: 800;
	margin: 0;
}
.text-gradient {
	background-image: var(--accent-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 400%;
	background-position: 0%;
}
</style>